@{
	ViewBag.Title = "Areal Leader Home Page";
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AreaLeaderHomePage</title>
    <link rel="stylesheet" href="~/css/site.css"/>

	
</head>
<body>

    <div class="container">
        <div class="row">
            @*<div class="col-lg-3 col-md-2"></div>*@
            <div class="col-lg-6 col-md-8 login-box">

                <!-- Container Title-->
                <div class="col-lg-12 login-title">


                    <img style="border-radius:20% ; width: 20%" src="~/img/Copy of KFH ASSETS DISTERIBUTION.png" />

                    Welcome
                </div>
                <!--Login Form-->
                <section>
                    <div class="col-lg-10 login-form flexContainer">
                        <div class="col-lg-12 login-form">
                            <form>
                                <div class="form-group ">
                                    <label class="form-control-label">Asset name </label>
                                    <input type="text" class="form-control">
                                </div>
                               <div class="form-group ">
                                    <label class="form-control-label">Amount </label>
                                    <input type="number" class="form-control">
                                </div>
                               <div class="form-group ">
                                   <label class="form-control-label">Upload Image </label>
                                   <input class="file-uplad-input" type="file" onchange="readURL(this)" accept="Image/*" />
                               </div>
                               <div class="form-group ">
                                    <label class="form-control-label">Focal point</label>
                                    <input type="text" class="form-control">
                                </div>
                               <div class="form-group ">
                                    <label class="form-control-label">Descrebtion</label>
                                    <textarea  rows="3" type="text" class="form-control"></textarea>
                                </div>
                               
                                <!--Submit Button -->
                                <div class="col-lg-12 loginbttm">
                                    <div class="col-lg-6 login-btm login-text">
                                        <!-- Error Message -->
                                    </div>
                                    <div class="col-lg-6 text-center login-btm login-button">
                                        <button type="submit" class="btn btn-outline-primary btn-lg" asp-action="ApprovalPage">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>
    <div>


      
    </div>
</body>
</html>