/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.logo {
    width: 30%;
    height: auto;
    /*margin-left: -20px;
    overflow: hidden;
    flex-basis: 20%;
    padding: 0;*/
    display: block;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    margin-top: -50px;
    
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
 background: url(../img/bg.png);
 background-size: cover;
 background-position: center center;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    /*background-color: #EEEEEC;*/
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    color: white;
}

.login-box {
    margin: 75px auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.login-form {
    margin-top: 25px;
    margin-left: 50px;
    text-align: left;
    }

@media screen and (max-width: 300px) {
    .input [type=text], input[type=password] {
        background-color: white;
        border: none;
        border-bottom: 2px;
        border-top: 0px;
        border-radius: 0px;
        outline: 0;
        margin-bottom: 20px;
        margin-block: 10px;
        padding-left: 0px;
        /*color: #343434;*/
        font-size: 14px;
        display: block;
        float: none;
    }
}

.flexContainer {
    display: flex;
    justify-content: center;
    margin: inherit;
}

/*.hyperlink > a {
    display: inline-flex;
    margin-bottom: 40px;
    outline: 0px;
    padding: 1px;
    align-content: center;
    color: black;
    box-shadow: inset 0 0 0 0 #fec33e;
    transition: all 0.15s ease-in-out 0s;
}

    .hyperlink > a:hover {
        box-shadow: inset 0 300px 0 0 #fec33e;
        color: black;
    }*/


/*         display: inline-flex;
            margin-bottom: 40px;
            outline: 0px;
            align-content: center;
            padding: 0px 0px 0px 27px;
            color: seagreen;*/



.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(13,113,64);
    outline: 0;
    background-color: #cce6de;
    color: black;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

/*label {
    margin-bottom: 0px;
}*/

.form-control-label {
    font-size: 14px;
    /*color: #343434;*/
    letter-spacing: 1px;
}

.btn-outline-primary {
    background-color: #0D7140;
    border-color: #0D7140;
    color: white;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 50px;
    border-radius: 5px;
}


    .btn-outline-primary:hover {
        background-color: #9f9e9e;
        border-color: #9f9e9e;
        color: white;
        right: 0px;
    }

.login-btm {
    float: inherit;
}

.login-button {
    padding-right: inherit;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: white;
}

.loginbttm {
    margin: 0 -10%;
}
.submitt{
    padding:20px;
    margin: 0 -10%;
}

.center-div {
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 0;
}


